<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/accounts/edit" style="max-width:600px;" th:object="${form}">

    <div th:replace="accounts/add :: formFields"></div>

    <div class="form-group">
        <input type="hidden" name="accountId" id="accountId" th:value="*{accountId}" />
    </div>

    <input type="submit" value="Save Changes" />

</form>

<div th:object="${form}">
    <form method="post" th:action="@{'/accounts/remove/' + *{accountId}}">
        <input type="submit" value="Remove Account" />
    </form>
</div>

</body>
</html>