<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/payments/edit" style="max-width:600px;" th:object="${form}">

    <div th:replace="payments/add :: formFields"></div>

    <div class="form-group">
        <input type="hidden" name="paymentTypeId" id="paymentTypeId" th:value="*{paymentTypeId}" />
    </div>

    <input type="submit" value="Save Changes" />

</form>

</body>
</html>